################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UserProfileManager/bin/Debug/net8.0
/UserProfileManager/obj
